
@font-face {
    font-family: 'Formula';
    src: url('Formula1-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffefcd;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin-left: 140px;
    font-family: 'Formula', sans-serif;
}
p{
    font-size: 50px;
    font-weight: 400;
}
.info p{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#puntuacion{
    display: block;
    flex-direction: column;
    justify-content: left;
}
#puntuacion p{
    font-size: 50px;
    font-family: 'Formula', sans-serif;
}
.puntuacion-jugador{
    font-family: 'Formula', sans-serif;
    font-size: 25px;
}

.juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
}
#tablero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.fila{
    display:flex;
    flex-wrap: wrap;
}
.casilla{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin: 10px;
    background-color: #eff2f9;
    box-shadow: #b5bfc6 0px 2px 4px, #b5bfc6 0px 7px 13px -3px, #b5bfc6 0px -3px 0px inset;
    border-radius: 3%;
    font-family: 'Formula', sans-serif;
    font-size: 80px;
}

#mensaje{
    font-family: "Formula", sans-serif;
    font-size: 16px; 
}

#boton {
  font-family: "Formula", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  margin-top: 25px;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
}
#boton:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  #boton {
    padding: 0.25em 0.75em;
  }
}

.tiempo{
    display: block;
    flex-direction: column;
    margin-top: 45px;
    font-family: "Formula", sans-serif;
}
#count-down{
    position: relative;
    margin: auto;
    margin-top: 25px;
    height: 60px;
    width: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.circulo {
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:3px solid #a58e74;
}
#segundos{
    color: black;
    display: inline-block;
    font-size: 25px;
    margin-top: 17PX;
}